@mainColor:#006699;
body{
	background-color: #fff;
	/* padding-top: 45px; */
	/* padding-bottom: 45px; */
}
/* 1. 头部区域样式 */

#header{
	position: fixed;
	left: 0;
	top: 0;
	z-index: 999;
	width: 100%;
	height: 45px;
	background-color:@mainColor;
	>h4{
		color:#fff;
		line-height: 45px;
		text-align: center;
		margin: 0;
		font-weight: normal;		
	}
	.fa-search{
		color:#fff;
		position: absolute;
		right: 15px;
		top: 15px;
	}
}

/* 3. 中间主体部分 */
#main{
	/* 加了margin main容器的高度和区域滚动的子容器的高度不一致
	同时加margin会造成margin塌陷  父容器也会随着子容器的margin下来 */
	/* margin-top:45px;
	margin-bottom:45px;	 */
	padding-top: 45px;
	padding-bottom: 45px;
}

/* 2. 导航区域样式 */

#nav{
	padding: 10px;
	.mui-row{
		>div{
			>a{
				display: block;
				>img{
					width: 100%;
				}
			}
		}
	}
}

/* 3. 广告区域样式 */

#banner{
	border-top: 1px solid #ccc;
	padding: 0 10px;
	a{
		display: block;
		img{
			width: 100%;
		}
	}
}

/* 4. 品牌专区样式 */

#brand{
	padding: 0 10px;
	a{
		display: block;
		img{
			width: 100%;
		}
	}
}

/* 5. 运动专区样式 */

#sport,#girl,#boy{
	padding: 0 10px;
	.title{
		>a{
			>img{
				width: 100%;
			}
		}
	}
	.content{
		.mui-row{
			>div{
				padding: 5px;
				.product{
					display: block;
					box-shadow: 0px 0px 5px #666;
					text-align: center;
					padding-bottom: 10px;
					.product-img{
                        width: 100%;
                        height: 85px;
					}
					.product-name{}
					.product-price{
						font-size: 12px;
						.new-price{
							color:#f00;
						}
						.old-price{
							color:#888;
						}
					}
					
				}
			}
		}
	}
}


/* 9. 底部区域样式 */
#footer{
	position: fixed;
	bottom: 0;
	left: 0;
	z-index:999;
	/* 固定定位是没有默认100%宽度 */
	width: 100%;
	height: 45px;
	background-color: @mainColor;
	a{
		color:#fff;
		font-size: 14px;
		display: block;
		padding: 10px 0;
		text-align: center;
		>span{
			display: block;
			margin-top: 2px;
		}
		&.active{
			color:orange;
		}
	}
}